footer.footer
	.footer__top.header__top
		.container
			.footer__top-text.header__top-text Персональный сайт частного бухгалтера Артёма Лаврова
			nav.footer__nav.nav.nav_footer
				a.nav__link(href='#eco') МОИ УСЛУГИ
				a.nav__link(href='#rate') ЦЕНЫ И ТАРИФЫ
				a.nav__link(href='#why') ПОЧЕМУ ЭТО ВЫГОДНО
				a.nav__link(href='#about') КОНТАКТЫ
	.footer__bottom
		.container
			.footer__bottom-left
				.footer__bottom-copy 2016 LAVROV.ONLINE
				.footer__bottom-links
					a.footer__bottom-links-item(href='#') Политика конфиденциальности
					a.footer__bottom-links-item(href='#') Пользовательское соглашение
			.footer__bottom-right
				.footer__bottom-auth РАЗРАБОТКА:&nbsp;
					span.footer__bottom-auth-color ALEXGONCHAROV.ONLINE