header.header
	// begin logo
	.header__top
		.container
			.header__top-text Персональный сайт частного бухгалтера Артёма Лаврова
			.header__socials.socials
				a.socials__item(href='mailto:privet@lavrov.online')
					i.socials__fa.fa.fa-envelope-o
					span.socials__text privet@lavrov.online
				a.socials__item(href='tel:+79993796547')
					i.socials__fa.fa.fa-phone
					span.socials__text +7 999 379 6547
				.socials__item
					i.socials__fa.fa.fa-telegram
					span.socials__text Telegram: @lavrov_online
	.header__bottom
		.container
			a.header__bottom-logo(href='index.html') LAVROVONLINE
			nav.header__bottom-nav.nav
				a.nav__link(href='#') МОИ УСЛУГИ
				a.nav__link(href='#') ЦЕНЫ И ТАРИФЫ
				a.nav__link(href='#') ПОЧЕМУ ЭТО ВЫГОДНО
				a.nav__link(href='#') КОНТАКТЫ
	// end logo
