extend includes/_layout
block title
	title LavrovonLine
block content
	//begin screen
	.screen
		.screen__bg
		.screen__container.container
			.screen__inner
				.screen__title ОНЛАЙН БУХГАЛТЕР
					.screen__title-color ДЛЯ ВАШЕГО БИЗНЕСА
				ul.screen__list
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text отправка деклараций точно в срок
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text консультирование по бухгалтерским вопросам
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text удобная система документооборота в смартфоне
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text не нужно держать штатного бухгалтера
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text идеально для ИП и ООО на УСН, ЕНВД, ПСН, ОСНО
				.screen__row
					a.screen__btn.btn(href='#')
						i.btn__fa.fa.fa-phone
						span.btn__text ПЕРЕЗВОНЮ ЗА 28 СЕКУНД
					a.screen__btn.btn.btn_light(href='#') ОСТАВИТЬ ЗАЯВКУ
	//end screen

	//begin eco
	.eco
		.container
			.eco__title Экономьте время и деньги,
				span.eco__title-color сотрудничая с онлайн-бухгалтером
			.eco__list
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-1
					.eco__list-text Обслуживание по схеме аутсорсинга «под ключ». Работа полностью в онлайне
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-2
					.eco__list-text Комплексное ведение бухгалтерского и налогового учёта
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-3
					.eco__list-text Ведение кадрового делопроизводства
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-4
					.eco__list-text Подготовка и сдача в электронном виде форм отчетности
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-5
					.eco__list-text Ведение системы «Клиент-Банк»
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-6
					.eco__list-text Учёт заработной платы и расчет налогов
	//end eco

	//begin feed
	.feed
		.container
			.feed__title Оставьте заявку прямо сейчас
				span.feed__title-color и получите СДАЧУ НУЛЕВОЙ ОТЧЕТНОСТИ БЕСПЛАТНО
			.text-center
				a.feed__btn.btn.btn_white(href='#')
					span.btn__text ОСТАВИТЬ ЗАЯВКУ
					i.btn__fa.btn__fa_right.fa.fa-chevron-right
	//end feed

	//begin why
	.why
		.container
			.why__title.title Почему это выгодно?
				.title__color Несколько причин, по которым вам стоит попробовать
			.why__list
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Облачные технологии
					.why__list-text Вы получаете доступ к Вашей бухгалтерской базе 24/7 из любой точки мира.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Надёжное звено в цепи
					.why__list-text Вам не надо думать о больничных, отпусках и декретах вашего бухгалтера.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Спите спокойно
					.why__list-text Все налоговые вопросы: отчетность и проверки <br>лежат на мне.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Адекватная цена
					.why__list-text Качественная и современная бухгалтерия от 3000 рублей в месяц. Нулевая отчетность — бесплатно.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Поддержка 24/7
					.why__list-text Я работаю 5 дней в неделю по 8 часов, но всегда готовы на аврал, если этого требует Ваш бизнес.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Очевидная экономия
					.why__list-text Вы экономите на заработной плате бухгалтера, рабочем месте и программном обеспечении.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Персональный бухгалтер
					.why__list-text Вы будете лично знать человека, который ведет Вашу бухгалтерию.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Высшее качество
					.why__list-text Я работаю с самыми разными видами деятельности: от розничных продаж до серийного производства.
				.why__list-item
					.why__list-icon.fa.fa-check
					.why__list-title Ежемесячная аналитика
					.why__list-text Вы имеете доступ к аналитической информации, которая помогает повышать эффективность вашего бизнеса.
			.text-center
				.why__btn.btn
					span.btn__text ОСТАВИТЬ ЗАЯВКУ
					i.btn__fa.btn__fa_right.fa.fa-chevron-right
	//end why

	//begin steps
	.steps
		.container
			.steps__title.title Современная мобильная бухгалтерия в 3 шага
				.title__color Весь процесс занимает не более часа для старта.
			.steps__list
				.steps__list-item
					.steps__list-number 1
					.steps__list-title Вы оставляете заявку
					.steps__list-text Просто напишите мне в любом удобном мессендежере или социальной сети.
				.steps__list-item
					.steps__list-number 2
					.steps__list-title Я изучаю ваш бизнес
					.steps__list-text Я изучаю специфику и особенности вашего бизнеса, провожу анализ текущей деятельности.
				.steps__list-item
					.steps__list-number 3
					.steps__list-title Подписываем договор
					.steps__list-text Наше сотрудничество строго конфиденциально и регламентировано.
	//end steps

	//begin rate
	.rate
		.container
			.rate__title.title.title_dark Выберите свой подходящий тариф
				.title__color Выберите свой, или оставьте заявку на расчет
			.rate__list
				.rate__card
					.card
						.card__rate тариф
						.card__title ПРОСТОЙ
						.card__subtitle без работников*
						p.card__text Сдача ежеквартальной и годовой отчетности в налоговые органы.
						p.card__text Ведение бухгалтерского и <br>налогового учета в полном объеме
						p.card__text Бухгалтерское и документальное <br>сопровождение <br>финансово-хозяйственных отношений
						p.card__text Консультации по налоговым вопросам
						.card__row
							.card__col
								.card__number 6000
								.card__number-desc руб/месяц
							.card__col
								.card__number 16200
								.card__number-desc руб/квартал
								.card__number-info ЭКОНОМИЯ
									span.card__number-info-color 1800 РУБЛЕЙ
							.card__col
								.card__number 61200
								.card__number-desc руб/год
								.card__number-info ЭКОНОМИЯ
									span.card__number-info-color 10800 РУБЛЕЙ
						.text-center
							a.card__btn.btn(href='#')
								span.btn__text ОСТАВИТЬ ЗАЯВКУ
								i.btn__fa.btn__fa_right.fa.fa-chevron-right
					.rate__card-desc Тарифы для ОСНО <br>расчитываются индивидуально
				.rate__card
					.card
						.card__rate тариф
						.card__title ПРОСТОЙ
						.card__subtitle без работников*
						p.card__text Сдача ежеквартальной и годовой отчетности в налоговые органы.
						p.card__text Ведение бухгалтерского и <br>налогового учета в полном объеме
						p.card__text Бухгалтерское и документальное <br>сопровождение <br>финансово-хозяйственных отношений
						p.card__text Консультации по налоговым вопросам
						.card__row
							.card__col
								.card__number 6000
								.card__number-desc руб/месяц
							.card__col
								.card__number 16200
								.card__number-desc руб/квартал
								.card__number-info ЭКОНОМИЯ
									span.card__number-info-color 1800 РУБЛЕЙ
							.card__col
								.card__number 61200
								.card__number-desc руб/год
								.card__number-info ЭКОНОМИЯ
									span.card__number-info-color 10800 РУБЛЕЙ
						.text-center
							a.card__btn.btn(href='#')
								span.btn__text ОСТАВИТЬ ЗАЯВКУ
								i.btn__fa.btn__fa_right.fa.fa-chevron-right
					.rate__card-desc Тарифы для ОСНО <br>расчитываются индивидуально
				.rate__card
					.card
						.card__rate тариф
						.card__title ПРОСТОЙ
						.card__subtitle без работников*
						p.card__text Сдача ежеквартальной и годовой отчетности в налоговые органы.
						p.card__text Ведение бухгалтерского и <br>налогового учета в полном объеме
						p.card__text Бухгалтерское и документальное <br>сопровождение <br>финансово-хозяйственных отношений
						p.card__text Консультации по налоговым вопросам
						.card__row
							.card__col
								.card__number 6000
								.card__number-desc руб/месяц
							.card__col
								.card__number 16200
								.card__number-desc руб/квартал
								.card__number-info ЭКОНОМИЯ
									span.card__number-info-color 1800 РУБЛЕЙ
							.card__col
								.card__number 61200
								.card__number-desc руб/год
								.card__number-info ЭКОНОМИЯ
									span.card__number-info-color 10800 РУБЛЕЙ
						.text-center
							a.card__btn.btn(href='#')
								span.btn__text ОСТАВИТЬ ЗАЯВКУ
								i.btn__fa.btn__fa_right.fa.fa-chevron-right
					.rate__card-desc Тарифы для ОСНО <br>расчитываются индивидуально
	//end rate

	//begin feed
	.feed
		.feed__container.container
			.feed__man
				img.feed__man-img(src='img/content/man.png' alt='image')
			.feed__content
				.feed__title.feed__title_left Удобная онлайн бухгалтерия В ВАШЕМ СМАРТФОНЕ
					span.feed__title-color быть современным, чтобы стать лучшим.
				.text-left
					a.feed__button.btn.btn_white(href='#')
						span.btn__text ОСТАВИТЬ ЗАЯВКУ
						i.btn__fa.btn__fa_right.fa.fa-chevron-right
	//end feed

	//begin about
	.about
		.about__container.container
			.about__socials.socials.socials_about
				a.socials__item(href='mailto:hello@lavrov.online')
					i.socials__fa.fa.fa-envelope-o
					span.socials__text hello@lavrov.online
				a.socials__item(href='tel:+79993796547')
					i.socials__fa.fa.fa-phone
					span.socials__text +7 999 379 6547
				.socials__item
					i.socials__fa.fa.fa-telegram
					span.socials__text Telegram: @lavrov_online
			.about__auth
				.about__auth-img
				.about__auth-name Лавров А.М.
	//end about