extend includes/_layout
block title
	title LavrovonLine
block content
	//begin screen
	.screen
		.container
			.screen__inner
				.screen__title ОНЛАЙН БУХГАЛТЕР
					.screen__title-color ДЛЯ ВАШЕГО БИЗНЕСА
				ul.screen__list
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text отправка деклараций точно в срок
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text консультирование по бухгалтерским вопросам
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text удобная система документооборота в смартфоне
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text не нужно держать штатного бухгалтера
					li.screen__list-item
						i.screen__list-fa.fa.fa-check
						span.screen__list-text идеально для ИП и ООО на УСН, ЕНВД, ПСН, ОСНО
				.screen__row
					a.screen__btn.btn(href='#')
						i.btn__fa.fa.fa-phone
						span.btn__text ПЕРЕЗВОНЮ ЗА 28 СЕКУНД
					a.screen__btn.btn.btn_light(href='#') ОСТАВИТЬ ЗАЯВКУ
	//end screen

	//begin eco
	.eco
		.container
			.eco__title Экономьте время и деньги,
				span.eco__title-color сотрудничая с онлайн-бухгалтером
			.eco__list
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-1
					.eco__list-text Обслуживание по схеме аутсорсинга «под ключ». Работа полностью в онлайне
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-2
					.eco__list-text Комплексное ведение бухгалтерского и налогового учёта
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-3
					.eco__list-text Ведение кадрового делопроизводства
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-4
					.eco__list-text Подготовка и сдача в электронном виде форм отчетности
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-5
					.eco__list-text Ведение системы «Клиент-Банк»
				.eco__list-item
					.eco__list-icon
						.icon.icon-eco-6
					.eco__list-text Учёт заработной платы и расчет налогов
	//end eco

	//begin feed
	.feed
		.container
			.feed__title Оставьте заявку прямо сейчас
				span.feed__title-color и получите СДАЧУ НУЛЕВОЙ ОТЧЕТНОСТИ БЕСПЛАТНО
			.text-center
				a.feed__btn.btn.btn_white(href='#')
					span.btn__text ОСТАВИТЬ ЗАЯВКУ
					i.btn__fa.btn__fa_right.fa.fa-chevron-right
	//end feed